### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Importing Dependencies
import pandas as pd
import csv
import matplotlib as plt
import numpy as np

In [2]:
# Loading file
purchases_file = "Resources/purchase_data.csv"
# Reading file
purchases_file_df = pd.read_csv(purchases_file)

In [3]:
# Printing dataset
purchases_file_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [7]:
# Selecting columns for the new dataframe
player_demographics_df=purchases_file_df.loc[:,["SN","Age","Gender"]]
# Dropping duplicates
player_demographics_df=player_demographics_df.drop_duplicates()
player_demographics_df.head(3)

            SN  Age Gender
0      Lisim78   20   Male
1  Lisovynya38   40   Male
2   Ithergue48   24   Male

## Player Count

In [10]:
# Total number of players
total_players=player_demographics_df["SN"].nunique()
print(f"There's a total of {total_players} players.")

Theres a total of 576 players.

## Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total number of Purchases
* Total Revenue

In [11]:
# Number of Unique Items
unique_items=len(purchases_file_df["Item Name"].unique())
print(f"The Number of Unique Items is: {unique_items}.")

The Number of Unique Items is: 179.

In [12]:
# Average Purchase Price
average_purchase=round(purchases_file_df["Price"].mean(),2)
print(f"The Average Purchase Price is: ${average_purchase}")

The Average Purchase Price is: $3.05

In [13]:
# Total Number of Purchases
total_purchases=len(purchases_file_df["Purchase ID"])
print(f"The Total Number of Purchases is: {total_purchases}.")

The Total Number of Purchases is: 780.

In [14]:
# Total Revenue
total_revenue=purchases_file_df["Price"].sum()
print(f"The Total Revenue is: ${total_revenue}.")

The Total Revenue is: $2379.77.

In [15]:
# Creating Summary DataFrame
summary_df=pd.DataFrame({
    "Number of Unique Items": [unique_items],
    "Average Purchase Price": [average_purchase],
    "Total Number of Purchases": [total_purchases],
    "Total Revenue ($)": [total_revenue]
})

# Printing DataFrame
summary_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue ($)
0,179,3.05,780,2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
# Creating a new df, droping all duplicates from "SN" to work with, using subset function.

drop_sn_df =purchases_file_df.drop_duplicates(subset=["SN"])

# Total, unique SN's.
total_sn = drop_sn_df.shape[0]
total_sn

In [ ]:
drop_sn_df=drop_sn_df.groupby(["Gender"]).count()
drop_sn_df

In [ ]:
female = drop_sn_df.loc['Female', "SN"]
male =  drop_sn_df.loc['Male', "SN"]
other =  drop_sn_df.loc['Other / Non-Disclosed', "SN"]

In [ ]:
# Female
female_perc = (female/total_sn)*100
female_perc=round(female_perc,2)

# Male
male_perc =(male/total_sn)*100
male_perc=round(male_perc,2)

# Other / Non-Disclosed
other_perc = (other/total_sn)*100
other_perc=round(other_perc,2)

In [ ]:
print(f"The Percentage Count of Female Players is: {female_perc}%")
print(f"The Percentage of Male Players is: {male_perc}%")
print(f"The Percentage of Other / Non-Disclosed Players is: {other_perc}%")


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
## Creating Variables

# Total Purchase Count
purchase_count=purchases_file_df.groupby(["Gender"]).count()["Price"].rename("Total Purchase Value")

# Total Purchase Value
purchase_value=purchases_file_df.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")

# Average Purchase Price
avg_purchase_price=purchases_file_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")

# Average Purchase Total Per Person
avg_purchase_total=purchase_value/total_sn

## Creating a new DataFrame based on previous values.
purchase_gender_df=pd.DataFrame({"Total Purchase Count": purchase_count, \
                                 "Total Purchase Value":purchase_value, \
                                 "Average Purchase Price":avg_purchase_price,\
                                 "Average Purchase Total Per Person":avg_purchase_total})

## Formatting Values
purchase_gender_df["Total Purchase Value"]=purchase_gender_df["Total Purchase Value"].map("${:,.2f}".format)
purchase_gender_df["Average Purchase Price"]=purchase_gender_df["Average Purchase Price"].map("${:,.2f}".format)
purchase_gender_df["Average Purchase Total Per Person"]=purchase_gender_df["Average Purchase Total Per Person"].map("${:,.2f}".format)

# Printing DataFrame
purchase_gender_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Creating a new DF to work with

player_demographics_df = purchases_file_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics_df = player_demographics_df.drop_duplicates()

player_demographics_df.head(5)

In [ ]:
# Establishing my bins via Max and Min Ages.

max_age=purchases_file_df["Age"].max()
min_age=purchases_file_df["Age"].min()
    
print(max_age)
print(min_age)

In [ ]:
# Creating Bins and Labels based on Max & Min ages.

#Bins
bins=[5,10,15,20,25,30,35,40,45]

#Labels
bin_labels=["Ages from 5-10","Ages from 10-15",\
            "Ages from 15-20","Ages from 20-25","Ages from 25-30",\
            "Ages from 30-35","Ages from 35-40","Ages from 40-45"]

player_demographics_df["Age Demographic Summary"] = pd.cut(player_demographics_df["Age"], bins, labels=bin_labels, include_lowest=True)
player_demographics_df.head(5)

In [ ]:
# Calculate the numbers and percentages by age group
players_pergroup=player_demographics_df["Age Demographic Summary"].value_counts()
percentage=players_pergroup/total_players

# Creating DataFrame with analysis
age_demographics=pd.DataFrame({"Total Count":players_pergroup, "Percentage Of Players": percentage})
age_demographics["Percentage Of Players"]=age_demographics['Percentage Of Players'].map("{:,.2%}".format)

# Printing DataFrame
age_demographics

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Creating new DataFrame to work with
perperson_df= purchases_file_df.loc[:, ["Purchase ID","SN", "Price", "Age"]]
perperson_df=perperson_df.drop_duplicates()

perperson_df.head(5)

In [ ]:
# Binning Ages.

#Bins
bins=[5,10,15,20,25,30,35,40,45]

#Labels
bin_labels=["Ages from 5-10","Ages from 10-15",\
            "Ages from 15-20","Ages from 20-25","Ages from 25-30",\
            "Ages from 30-35","Ages from 35-40","Ages from 40-45"]


perperson_df["Purchasing Analysis Per Group of Users (Age)"]=pd.cut(perperson_df["Age"], bins, labels=bin_labels, include_lowest=True)
perperson_df

In [ ]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.

# Purchase Count
pergroup_count=perperson_df.groupby(["Purchasing Analysis Per Group of Users (Age)"]).count()["Price"]
pergroup_count

In [ ]:
# Average Purchase Price
pergroup_avg=perperson_df.groupby(["Purchasing Analysis Per Group of Users (Age)"]).mean()["Price"]
pergroup_avg

In [ ]:
# Purchase Total Per Group

pergroup_sum=(perperson_df.groupby(["Purchasing Analysis Per Group of Users (Age)"]).sum()["Price"])
pergroup_sum

In [ ]:
# Average Purchase Total Per Person

normalized_total = pergroup_sum / age_demographics["Total Count"]
normalized_total

In [ ]:
# Displaying Final DataFrame with results

final_purchase_analysis_age_df=pd.DataFrame({"Count of User Names by Age Range": pergroup_count,\
                                            "Total Purchased Per Age Group": pergroup_sum,\
                                            "Average Purchase Price by Age Range": pergroup_avg,\
                                            "Avg Total Purchase per Person":normalized_total})

# Formatting Values

final_purchase_analysis_age_df["Total Purchased Per Age Group"]=final_purchase_analysis_age_df["Total Purchased Per Age Group"].map("${:,.2f}".format)
final_purchase_analysis_age_df["Average Purchase Price by Age Range"]=final_purchase_analysis_age_df["Average Purchase Price by Age Range"].map("${:,.2f}".format)
final_purchase_analysis_age_df["Avg Total Purchase per Person"] = final_purchase_analysis_age_df["Avg Total Purchase per Person"].map("${:,.2f}".format)



# Printing DataFrame
final_purchase_analysis_age_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Total Purchase Value

# ES POR VALOR TOTAL DE COMPRA, NO POR NÚMERO DE COMPRAS

top_spenders_df=purchases_file_df.loc[:,["SN","Age","Price"]]


top_spenders_sn=top_spenders_df.loc[top_spenders_df["Price"].sum(),["SN","Age","Price"]]

top_spenders_s

In [ ]:
top_spenders_df["Top Spenders"]=pd.cut(top_spenders_df["Top Spenders"])

In [ ]:
purchases_file_df.to_csv("Final_purchases_file.csv", index= False, header=True)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame